* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 게임 윈도우우 */

.window {
  margin: 0 auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.title {
  margin-top: 100px;
  text-align: center;
  /* border: 1px solid; */
}

.imgBox {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 600px;
  height: 400px;
}

/* .img:hover {
  transform: scale(1.05);
} */

.img {
  border: 1px solid;
  padding: 30px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textT {
  /* border: 1px solid; */
  margin-top: 20px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.match {
  width: 450px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.match_bnt {
  width: 200px;
  border: none;
  background-color: rgb(100, 100, 255);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 7px;
}

#start {
  width: 200px;
  margin: 0 auto;
  border: none;
  background-color: rgb(100, 100, 255);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 7px;
}

.todo {
  margin-bottom: 30px;
  font-size: 30px;
}

.input-style {
  width: 90%;
  height: 30px;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 7px;
  transition: all 0.3s ease;
}

.input-style:focus {
  border-color: #0084ff;
  background-color: #fff;
}

@keyframes blink-effect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink-effect 1s infinite; /* 1초 간격으로 계속 깜빡임 */
}

/* 툴팁 */

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: rgba(223, 223, 223, 0.75);
  color: #000000;
  text-align: center;
  padding: 5px;
  border-radius: 5px;

  /* 오른쪽 위치 설정 */
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 10px; /* 요소와 거리 조정 */

  z-index: 9999;

  /* 애니메이션 효과 */
  opacity: 0;
  transition: opacity 0.3s;

  word-wrap: break-word;
  white-space: normal;
}

/* 마우스를 올리면 툴팁 보이기 */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
